<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>{{ post.item }}</title>
</head>
<body>
<nav>
    <a href="/mainapp/"> Back to List</a>
    <a href="/aboutus/">About Us</a>
</nav>
<h1>
    {{ post.item }}
    <div id="map" style="width:500px;height:400px;"></div>
	<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=64673dc6f6181aea8bb9176a41f128fe"></script>
	<script>
		var container = document.getElementById('map');
		var options = {
			center: new kakao.maps.LatLng(33.450701, 126.570667),
			level: 3
		};

		var map = new kakao.maps.Map(container, options);
	</script>
</h1>
<h4>
    \{{ post.budget }}
</h4>
<hr/>
</body>
</html>
