<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>We Are Developer!</title>
</head>
<body>
<nav>
  <a href="/">Back to Main</a>
</nav>
</hr>

<h1>Welcome to GASIL.GA!</h1>
<h2>
  여정 공유 오픈 소스 웹서비스입니다.
</h2>
<h3>
  여행 계획을 수립하고 예산을 추가할 수 있는 간단한 여정 계획 웹 프로그램으로서 여행 일정을 공유할 수도 있고, 이를 pdf로 출력할 수도 있습니다.
저희 gasil.ga는 gpl 2.0을 따르는 오픈 소스 소프트웨어이며, 제 3자가 여행 서비스를 제공하고자 할 때 저희의 소스 코드를 사용할 수 있도록 하여 여행 서비스 시장 활성화에 이바지하고자 합니다. 또한, 사용자가 원한다면  소스코드를 깃허브에서 다운로드 받아 서버 없이 로컬에서도 활용할 수 있도록 할 것입니다. 이러한 오픈 소스 플랫폼을 통해 정보 독점을 막고, 서비스 종료로 인한 정보 유실의 가능성을 줄일 것입니다.
</h3>
</body>
</html>
