<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gasil.Ga Project</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  </head>
  <body>

    <div class="text-center">
                  <img src="https://i.ibb.co/S0n5FNY/Shared-Screenshot.jpg" alt="Bootstrap" width="300" height="230" class="rounded-circle border border-white">

    </div>
    <div class="text-end">
        <h5>Share Your Own Trip Plan</h5>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/mainapp/">여정 리스트 <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/aboutus/">About Us</a>
      </li>
    </ul>
  </div>
</nav>
    <div class="row">
        <div class="col-lg-3 col-md-3">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                준비해야되는 계획
              </button>
              <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      2022.11.18
                      오늘 오후 7시 구월동
                      A의 생일을 축하하며 파티
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary">Understood</button>
                    </div>
                  </div>
                </div>
              </div>
          <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMjEwMjhfNCAg%2FMDAxNjY2OTU0MDQwMTE5.lNAG1-k27nSXQ9xd4VfRe_Fvw5LyrIPpUiRZN0zzKe4g.ZZ3-S7o_he8Xbc0_sWuQ1kbs05mrWyoTNin6RTtJ5bsg.JPEG.cakemaestro%2F297764210_117986520982001_2573921826467476442_n.jpg&type=sc960_832');">
            <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
              <h6 class="pt-5 mt-5 mb-4 display-9 lh-1 fw-bold">여행이름1</h3>
              <ul class="d-flex list-unstyled mt-auto">
                <li class="me-auto">
                  <img src="https://i.ibb.co/S0n5FNY/Shared-Screenshot.jpg" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
                </li>
                <li class="d-flex align-items-center me-3">
                  <svg class="bi me-1" width="1em" height="1em"><use xlink:href="#geo-fill"/></svg>
                  <small>인천 구월동</small>
                </li>
                <li class="d-flex align-items-center">
                  <svg class="bi me-1" width="1em" height="1em"><use xlink:href="#calendar3"/></svg>
                  <small>1시간 후</small>
                </li>
                <a class="btn btn-primary" href="//이곳에 링크" role="button">관리</a>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-3">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                준비해야되는 계획
              </button>
              <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      2022.11.23
                      금일 일정은 오전 11시 동대문역
                      B와 함께 여행
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary">Understood</button>
                    </div>
                  </div>
                </div>
              </div>
          <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMjA4MzBfMTEg%2FMDAxNjYxODQxMDg2NTcw.677aXGhsseCNX4eTfB1jrdJ6MB3dLBf6axbLG_ZEGLEg.6E3l6q1_G1zMLBWPhr_WzVUqYEwIdAgfv8oalmbPxH8g.JPEG.lambogt2%2FP8280148.JPG&type=a340');">
            <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
              <h6 class="pt-5 mt-5 mb-4 display-9 lh-1 fw-bold">여행이름2</h3>
              <ul class="d-flex list-unstyled mt-auto">
                <li class="me-auto">
                  <img src="https://i.ibb.co/S0n5FNY/Shared-Screenshot.jpg" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
                </li>
                <li class="d-flex align-items-center me-3">
                  <svg class="bi me-1" width="1em" height="1em"><use xlink:href="#geo-fill"/></svg>
                  <small>서울 동대문구</small>
                </li>
                <li class="d-flex align-items-center">
                  <svg class="bi me-1" width="1em" height="1em"><use xlink:href="#calendar3"/></svg>
                  <small>5일 후</small>
                </li>
                <a class="btn btn-primary" href="//이곳에 링크" role="button">관리</a>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-3">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                준비해야되는 계획
              </button>
              <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      2022.11.25
                      금일 일정은 오후 7시 마포역
                      C와 함께 고기에 술
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary">Understood</button>
                    </div>
                  </div>
                </div>
              </div>
          <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMTEyMDlfMjE4%2FMDAxNjM5MDQ4MzEzNjY0.Oozyp3MIvF3vAO91OkIvgPeS9v7U3y0bGLgNQKmpoxgg.6kOUnOZ0PYSpsK1l8ZT2qzOSm4htiLCXty3_IXBbo1Mg.JPEG.tsb06392%2Foutput_2714752495.jpg&type=sc960_832');">
            <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
              <h6 class="pt-5 mt-5 mb-4 display-9 lh-1 fw-bold">여행이름3</h3>
              <ul class="d-flex list-unstyled mt-auto">
                <li class="me-auto">
                  <img src="https://i.ibb.co/S0n5FNY/Shared-Screenshot.jpg" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
                </li>
                <li class="d-flex align-items-center me-3">
                  <svg class="bi me-1" width="1em" height="1em"><use xlink:href="#geo-fill"/></svg>
                  <small>서울 마포구</small>
                </li>
                <li class="d-flex align-items-center">
                  <svg class="bi me-1" width="1em" height="1em"><use xlink:href="#calendar3"/></svg>
                  <small>7일 후</small>
                </li>
                <a class="btn btn-primary" href="http://gasil.ga:8080/" role="button">관리</a>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 ">
            <a class="btn btn-primary" href="http://gasil.ga:8080/" role="button">관리</a>
        </div>
      </div>
    </div>
    <h1>
        "              "
    </h1>
    <div class="row">
        <div class="col-lg-3 col-md-3">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                준비해야되는 계획
              </button>
              <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      2022.12.5
                      금일 일정은 오후 7시 부평역
                      여자친구와 칵테일 바에서 술 한잔
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary">Understood</button>
                    </div>
                  </div>
                </div>
              </div>
          <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMjA4MjVfMzcg%2FMDAxNjYxNDM1OTY5NDIx.lIbQ_-B4_89VbromG03K3PWHrPuz3X3ZAMIsvHXrs-Ug.8IKBZhhxNBkNsrxPRSlLN5AFi9tDRpLUDut5wIcQgOkg.JPEG.cmwmzl012%2FIMG_1878.JPEG&type=ofullfill340_600_png');">
            <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
              <h6 class="pt-5 mt-5 mb-4 display-9 lh-1 fw-bold">여행이름4</h3>
              <ul class="d-flex list-unstyled mt-auto">
                <li class="me-auto">
                  <img src="https://i.ibb.co/S0n5FNY/Shared-Screenshot.jpg" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
                </li>
                <li class="d-flex align-items-center me-3">
                  <svg class="bi me-1" width="1em" height="1em"><use xlink:href="#geo-fill"/></svg>
                  <small>인천 부평구</small>
                </li>
                <li class="d-flex align-items-center">
                  <svg class="bi me-1" width="1em" height="1em"><use xlink:href="#calendar3"/></svg>
                  <small>17일 후</small>
                </li>
                <a class="btn btn-primary" href="//이곳에 링크" role="button">관리</a>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-3">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                준비해야되는 계획
              </button>
              <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      2022.12.13
                      금일 일정은 오후 8시 회기역
                      엄청 유명한 훠궈집에서 D와 함께 식사
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary">Understood</button>
                    </div>
                  </div>
                </div>
              </div>
          <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMjA5MDJfMjM0%2FMDAxNjYyMTAxNDQ1NDAw.TGZRm2Kgv6r--qBr4MEjfRJHqVd102_2NLqwTLuGLqEg.h1GXIVhReKPnBLjyVLG5aN_mLl1AqoL1hvVmd5cWT6Ag.JPEG.sgsk90%2FKakaoTalk_20220902_134103870_14.jpg&type=sc960_832');">
            <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
              <h6 class="pt-5 mt-5 mb-4 display-9 lh-1 fw-bold">여행이름5</h3>
              <ul class="d-flex list-unstyled mt-auto">
                <li class="me-auto">
                  <img src="https://i.ibb.co/S0n5FNY/Shared-Screenshot.jpg" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
                </li>
                <li class="d-flex align-items-center me-3">
                  <svg class="bi me-1" width="1em" height="1em"><use xlink:href="#geo-fill"/></svg>
                  <small>서울 회기역</small>
                </li>
                <li class="d-flex align-items-center">
                  <svg class="bi me-1" width="1em" height="1em"><use xlink:href="#calendar3"/></svg>
                  <small>22일 후</small>
                </li>
                <a class="btn btn-primary" href="//이곳에 링크" role="button">관리</a>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-3">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                준비해야되는 계획
              </button>
              <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      2022.12.22
                      금일 일정은 오후 3시 종각역
                      E와 함께 문화 공연 관람
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary">Understood</button>
                    </div>
                  </div>
                </div>
              </div>
          <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2F20130918_182%2Fkhjtwin_13794971473740EuQS_PNG%2F%25BA%25C0%25BB%25EA%25C5%25BB%25C3%25E3%252816%2529.png&type=sc960_832');">
            <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
              <h6 class="pt-5 mt-5 mb-4 display-9 lh-1 fw-bold">여행이름6</h3>
              <ul class="d-flex list-unstyled mt-auto">
                <li class="me-auto">
                  <img src="https://i.ibb.co/S0n5FNY/Shared-Screenshot.jpg" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
                </li>
                <li class="d-flex align-items-center me-3">
                  <svg class="bi me-1" width="1em" height="1em"><use xlink:href="#geo-fill"/></svg>
                  <small>서울 종로구</small>
                </li>
                <li class="d-flex align-items-center">
                  <svg class="bi me-1" width="1em" height="1em"><use xlink:href="#calendar3"/></svg>
                  <small>31일 후</small>
                </li>
                <div="row">
                   <a class="btn btn-primary" href="//이곳에 링크" role="button">관리</a>
                </div>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
  </body>
</html>
