[Unit]
Description=EC2 Deploy uWSGI service
After=syslog.target

[Service]
ExecStart=/home/ubuntu/OSS_SpiritofBlueHawk/Back/venv/bin/uwsgi -i /home/ubuntu/OSS_SpiritofBlueHawk/.config/uwsgi.ini

Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
